@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-SemiBold.ttf');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Medium.ttf');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Regular.ttf');
    font-weight: 400;
  }

  html {
    font-family: 'Roboto Mono', sans-serif;
  }

  main {
    @apply md:pl-64 bg-bg-primary min-h-screen md:pt-6 pr-5 pt-18 pl-5;
  }
}
